/*  */
header {
  position: relative;
  z-index: 9999;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 999999;
}
/* Navbar.css */
.theme-light {
  background-color: #ffffff;
  color: black;
}

.theme-dark {
  background-color: #1c1c1c;
  color: white;
}

.navbar-dark .nav-link,
.navbar-dark .navbar-brand {
  color: white !important;
}

.navbar-light .nav-link,
.navbar-light .navbar-brand {
  color: black !important;
}

.cart-container {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 4px 6px;
  border-radius: 6px;
}
